<nav class="nav">
  <a href="/">Home</a>
  <a href="../users/new">Sign Up</a>
  <a href="../about">About</a>
  <a href="../contact">Contact</a>
  <a href="../profile">My Profile</a>
  <a href="../posts">Posts</a>
  <a href="../login">Login</a>
</nav>
