<h2>Contact Me</h2>
<form class="" action="index.html" method="post">
  <input type="text" name="name" placeholer="Name">
  <input type="text" name="email" placeholer="Email">
  <input type="textarea" name="message" placeholer="Message">
</form>
