<h2>Register</h2>
<form class="" action="./new" method="post">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <input type="password" name="confirmPassword" placeholder="Confirm Password">
  <input type="submit" value="Submit">
</form>
