<h2>All the Posts</h2>
<a href="posts/new">Add Post</a>
<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
  </tr>
  <% data.forEach(function(post){ %>
    <%- include _post %>
  <% }); %>
</table>
