<h2>Create a new post</h2>
<form class="" action="./new" method="post">
  <input type="text" name="title" placeholder="Title">
  <input type="textarea" column=4 name="content" placeholder="Enter your post here :)">
  <input type="submit" value="Submit">
</form>
